p, .site-header, .post-list, h1, h2, h3, h4, h5, h6, .contact-list, .page-content ul, .page-content ol,
.social-media-list{
  direction: rtl;
  font-size:1.2rem;
  line-height:1.9rem;
}

@font-face{font-family:'nassim';src:url('../fonts/nassim.eot');src:url('../fonts/nassim.eot?#iefix') format('embedded-opentype'),url('../fonts/nassim.woff') format('woff'),url('../fonts/nassim.ttf') format('truetype');font-style:normal;font-weight:normal;}@font-face{font-family:'nassim';src:url('../fonts/nassim-bold.eot');src:url('../fonts/nassim-bold.eot?#iefix') format('embedded-opentype'),url('../fonts/nassim-bold.woff') format('woff'),url('../fonts/nassim-bold.ttf') format('truetype');font-style:normal;font-weight:bold;}

body{
font-family:nassim,sans-serif;
}

strong{
	font-weight: 600;
}

.name{
color: red;
}
.wplot{
width: 500px;
margin-right: auto;
margin-left: auto;
}
