p, .site-header, .post-list, h1, h2, h3, h4, h5, h6, .contact-list, .page-content ul, .page-content ol,
.social-media-list{
  direction: rtl;
  font-size:1.1rem;
  line-height:2rem;
}

body{
font-family:'droid arabic naskh',sans-serif;
}

strong{
	font-weight: 600;
}

.name{
color: red;
}
.wplot{
width: 500px;
margin-right: auto;
margin-left: auto;
}
.post-title{
font-size:30px;
line-height: 3rem;
}

.center{
text-align: center;
}

img[src*="name"] {
  width:70%;
}

