
.icon-gmail:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-soundcloud:before { content: '\e802'; } /* '' */
.icon-reddit:before { content: '\e803'; } /* '' */
.icon-linkedin:before { content: '\e804'; } /* '' */
.icon-rss-1:before { content: '\e805'; } /* '' */
.icon-github-circled:before { content: '\e806'; } /* '' */
.icon-github:before { content: '\e807'; } /* '' */
.icon-instagram:before { content: '\e808'; } /* '' */